/* estilos propios */

/* NAV BAR */ /* NAV BAR */ /* NAV BAR */ /* NAV BAR */ /* NAV BAR */

.logo {
  margin-top: 0.3rem;
  margin-left: 6.2vw;
  width: 7.9vw;
  min-width: 25%;
}

@media screen and (min-width: 1000px) {
  .navbar-collapse {
    padding-bottom: 0.9rem;
    background-color: #fec107;
  }
}
.h2-nav {
  font-size: 1.9rem;
  margin-top: 0.3rem;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar-nav {
  background-color: #353a40;
  color: white;
}

.nav-link {
  color: #9b9ca0;
}

.navbar-nav .nav-link.active {
  color: #fefffb;
}

.size-nav {
  font-size: x-large;
}

.ul-espaciado {
  margin-top: 0.3rem;
  margin-right: 7.6rem;
}

.nav-item {
  margin-left: 0.7rem;
}

.navbar {
  /* padding: 2rem; */
  padding: 0px;
  background-color: #353a40;
  color: #9b9ca0;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  background-color: #353a40;
  color: white;
}

nav-bar-colors {
  background-color: #353a40;
  color: #fefffb;
}
*/

/* CARROUSEL *//* CARROUSEL *//* CARROUSEL *//* CARROUSEL *//* CARROUSEL *//* CARROUSEL */

.img-car-size {
  margin-top: -50%;
  margin-left: -14px;
  width: 101.5%;
  height: 100%;
  max-height: 100%;
  margin-bottom: -82px;
  /* max-height: 500px; */
  /* max-height: 80%; */
}

.carousel-item active {
  height: 50%;
}
.texto-carr-heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: right;
  margin-bottom: 0.3rem;
}
.texto-carr {
  font-size: 1.53rem;
  text-align: right;
}
@media screen and (max-width: 1106px) {
  .contenedor-carrousel {
    display: none;
  }
}
.container-let-carr {
  text-align: right;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .carousel-caption {
    position: absolute;
    right: 1%;
    left: 41vw;
    width: 43%;
    top: 50vh;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-inner {
    visibility:hidden;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-control-prev {
    visibility:hidden;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-control-next {
    visibility:hidden;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-indicators {
    visibility:hidden;
  }
}

.celu {
  font-weight: 300;
}

@media screen and (max-width: 1104px) {
  .celu {
    display: block;
  }
}

@media screen and (min-width: 1107px) {
  .celular {
    display: none;
  }
}
.carouselExampleCaptions {
  max-height: 50%;
}

.carousel-item {
  margin-top: -205px;
  /* width: 150.5%; */
  margin-bottom: -82px;
}

.carr-boton {
  color: #fefffb;
  border-color: #fefffb;
  font-size: 1.52rem;

  margin-right: 0.3rem;
  margin-top: 0.9rem;
  margin-left: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1.3rem;
}
.quieroser {
  background-attachment: fixed;
  font-size: 1.54rem;
}

.quierocomprar {
  background-color: hsl(133, 61%, 41%);
  border: #ffffff00;
}

/* CARDS CONOCE A LOS ORADORES */
.conoce {
  margin-top: 1rem;
  margin-bottom: 0px;
}

.oradores {
  margin-bottom: 0.2rem;
}

/* TARJETAS CARDS */
.badges {
  font-size: 0.8rem;
  font-weight: bold;
}

.javascript {
  background-color: #fec107;
}

.text-bg-info {
  color: rgb(255, 255, 255) !important;
}

.conten2 {
  margin: 0px;
  padding: 0px;
  margin-top: 3rem;
}

.card {
  margin: 7px;
}

/* BS AS OCTUBRE */
.bsoct {
  background-color: #353a40;
  padding-top: 0.5rem;
  color: #fefffb;
}

.marco {
  margin-top: 0.5px;
  /* padding-right: 0.5px; */
  border: 1px;
  border-style: ridge;
  /* margin-right: -5px; */
}

.marco-sup {
  border-top: 1px solid #000;
}

/* FORMULARIO */
.hablar {
  backdrop-filter: blur(10px);
}

/* FOOTER PIE DE PAGINA */
.degradado {
  background: linear-gradient(to right, #1c3643, #1e5372);
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: white;
}

.letrasFooter {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav-footer {
  text-decoration:none;
  color: #fefefe
}

/* BOTON FLOTANTE */

.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}